<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dk.aau.cs.psylog.survey_library">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <service
            android:name="dk.aau.cs.psylog.sensor.survey_library.PsyLogService"
            android:exported="true" />

        <activity
            android:name="dk.aau.cs.psylog.sensor.survey_library.questions.TransparentActivity"
            android:label="@string/title_activity_transparent"
            android:theme="@style/Theme.Transparent"></activity>

    </application>

    <uses-permission android:name="android.permission.WAKE_LOCK"></uses-permission>
    <uses-permission android:name="dk.aau.cs.psylog.psylog.READ_DB" />
    <uses-permission android:name="dk.aau.cs.psylog.psylog.WRITE_DB" />
</manifest>
